:host {
    min-width: 100%;
    width: 100%;
    display: flex;

    & .container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        & .title {
            font-weight: 800;
            color: #72035D;
            letter-spacing: -2px;
            white-space: nowrap;
            display: inline-block; /* ensure measured width corresponds to natural inline size */
            line-height: 0.8;
        }
    }
}

