@if (!isLandscape()) {
  <app-logo />
}
<main>
  <app-title [textValue]="textValue()" />
  <app-countdown [dateValue]="dateValue()" [isLandscape]="isLandscape()" />
  @if (!isLandscape()) {
    <app-quote />
  }
  <app-row-wrapper [isLandscape]="isLandscape()">
    <app-input-wrapper label="Title">
      <app-text-input (valueChange)="onTextChange($event)" />
    </app-input-wrapper>
    <app-input-wrapper label="Date">
      <app-date-input (valueChange)="onDateChange($event)" />
    </app-input-wrapper>
  </app-row-wrapper>
</main>
